<div class="bookingPopup">

    @if (role === 2 || role === 0) {
      <div>problema</div>
      <div>{{description}}</div>
    }@else {
      <div class="header">
        <div class="title" *ngIf="!bookingId">გსურთ ვიზიტის დაჯავშნა?</div>
        <div class="title" *ngIf="bookingId">აღწერის რედაქტირება</div>
        <div>შეგიძლიათ მიუთითოთ თქვენი პრობლემა</div>
      </div>
      
      <textarea placeholder="აღწერა..." [(ngModel)]="description" ></textarea>
      <button  *ngIf="!bookingId" (click)="confirmBooking()">დაჯავშნა</button>
      <button *ngIf="bookingId" (click)="updateDescription()">განახლება</button>
    }
    
  </div>
  