.wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 800px;
    padding: 30px 40px;
    border-radius: var(--base-border-radius);
    box-shadow: var(--base-box-shadow);
    width: 350px;
}


.categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top:1px solid rgb(236, 242, 248);
    border-bottom:1px solid rgb(236, 242, 248);
    padding-top: 17px;
    padding-bottom: 43px;
}

.title{
    font-weight: 500;
    font-size: var(--text-h4);
    text-align: center;
    margin-bottom: 15px;
    font-family: var(--bold-text);
}

.category{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: var(--text-h5);
    height: 40px;
    align-items: center;
}


.spec{
    display: flex;
    gap: 15px ;
}


.quantity{
    color: rgba(5, 51, 84, 0.3);
}


.active{
    background-color: var(--lighter-dark-blue);
    margin-left: -40px;  
    margin-right: -40px;
    padding:  0 40px;
}

.active .quantity{
    color: var(--light-blue );
}


.show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.show-more div{
    color: var(--light-blue);

}