<div class="wrapper">
    <div routerLink="/home" class="logo-wrap">
        <img src="./../../../assets/images/whiteLogo.png"/>
        <div class="logo-text">კლინიკა</div>
    </div>
    
    <div class="navigation-wrapper">
        <div class="navigation-header">
            <div>ინფორმაცია</div>
            <div>პაციენტებისთვის</div>
            <div>კონტაქტი</div>
            <div>გამოგვყევით</div>         
        </div>

        <div class="navigation-body">
            <div>
                <div>ჩვენ შესახებ</div>
                <div>პარტნიორები</div>
                <div>ექიმებისთვის</div>
                <div>კლინიკებისთვის</div>
                <div>აფთიაქებისთვის</div>
            </div>

            <div>
                <div>ექიმები</div>
                <div>კლინიკები</div>
                <div>ანოტაციები</div>
                <div>ბლოგი</div>
                <div>მედია</div>
            </div>
            

            <div>
                <div>
                    სამუშაო დღეები : 
                    ორშ - პარ
                </div>
                <div>
                    სამუშაო დრო : 
                    9:00 - 17:00
                </div>
                <div>იაკობ ნიკოლაძე №10</div>
                <div>032 2 100 100</div>

            </div>

            <div>
                <div>Facebook</div>
                <div>Instagram</div>
                <div>Youtube</div>
               
            </div>
        </div>
    </div>
</div>