<header>
    <div routerLink="/home" class="logo-wrap">
        <img src="./../../../assets/images/logo.png"/>
        <div class="logo-text">კლინიკა</div>
    </div>
    <div>
        <ul>
            <li>ექიმები</li>
            <li>კლინიკები</li>
            <li>ანოტაციები</li>
            <li>აქციები</li>
            <li>სერვისები</li>
            <li>მედიკამენტები</li>
            <li>კონტაქტი</li>
        </ul>
    </div>

    <div class="auth-profile-wrap">
        @if(!this.auth.IsLogedIn){
            <div class="auth">
                <div (click)="toggleAuthorization()" [ngClass]="{ 'activeAuth': this.auth.authorization}" >ავტორიზაცია</div>  
                /
                <div routerLink="/registration" routerLinkActive="activeAuth" >რეგისტრაცია</div>
            </div>
        }@else {
            <div [routerLink]="this.auth.logedUserData.role === 0 ? ['/adminPage/doctors'] : ['/profile', logedUserId]" class="profile">
                <img  [src]="logedUserData.photo ? (byteConvert + logedUserData.photo) : defaultPhoto" />
                <div class="name">{{logedUserData.lastName}}</div>
            </div>
        }
        
        <div class="language">ENG</div>
    </div>


    @if (this.auth.authorization) {
        <app-login-page (onToggle) = "toggleAuthorization()"></app-login-page>
    }
    
    <!-- <div (click)="logOut()">Log Out</div> -->
</header>
