header{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--main-x-padding);
    margin-top: 17px;
    margin-bottom: 27px;
}

.logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 
}



.logo-text{
    font-size: var(--text-h3);
    color: var(--dark-red);
    font-weight: 500;
    position: relative;
    right: 20px;

}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: var(--text-h4);
}

ul>li{
    cursor: pointer;
}

.auth{
    display: flex;
    background-color: var(--lighter-light-blue);
    border-radius: var(--big-border-radius);
    font-size: var(--text-h4);
    padding: 10px 25px;
    gap: 5px;
    
}

.auth > div{
    cursor: pointer;
}

.activeAuth{
    color: var(--light-blue);
}


.language{
    font-size: var(--text-h4);
    background-color: var(--lighter-light-blue);
    border-radius: var(--big-border-radius);
    padding: 10px 25px;
    cursor: pointer;

}

.profile{
    display: flex ;
    gap: 10px;
    justify-content: center;
    align-items: center;
}