<div class="wrap">
    <app-admin-header [doctorsList] = "doctorsList"></app-admin-header>

    <!-- @if (doctorsList) {
        <div class="doctors-wrap">
            <app-doctors></app-doctors>
        </div>
       
    }@else {
        <div class="selected-doctor-wrap">
            <app-user-edit></app-user-edit>
            <app-calendar></app-calendar>
        </div>
    } -->
    
    <div [ngClass]="{'main-wrap' : showCategoriesNav}">
        @if (showCategoriesNav) {
            <app-categories-nav></app-categories-nav>
        }
        
        <router-outlet></router-outlet>
    </div>
    
    
</div>