<div>
    @if (this.docdata.SelectedDoctor) {
        <div class="doctorInfo">
            <div class="doctor">
                <img [src]="byteConvert + this.docdata.SelectedDoctor.photo" />
                <div>
                    <div>{{this.docdata.SelectedDoctor.firstName}}</div>
                    <div>{{this.docdata.SelectedDoctor.specializationId}}</div>
                    <div>{{this.docdata.SelectedDoctor.rating}}</div>
                </div>
            </div>
            <div class="experience">
                @for (experience of this.docdata.SelectedDoctor.experience; track $index) {
                    <div>
                        <div>
                            <div>{{experience.startDate}}</div> - <div>{{experience.endDate}}</div>
                            <div>{{experience.organization}} : {{experience.position}}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
   
    <app-calendar [mode]="'booking'"></app-calendar>
</div>
