<div (click)="toggleClose()" class="wrapper">
    <div (click)="$event.stopPropagation()" class="authorization">
        @if (!recoverPasswordPage) {
            <div class="title">ავტორიზაცია</div>
        }@else{
            <div class="title">პაროლის აღდგენა</div>
        }
        
        <form [formGroup]="formControl">
            @if(!recoverPasswordPage){
                <div class="email-wrap">             
                    <input formControlName="email" placeholder="ელ.ფოსტა / ტელეფონის ნომერი"/>
                    <div *ngIf="formControl.get('email')?.errors?.['required'] && formControl.get('email')?.touched">
                        შეიყვანეთ ემეილი
                    </div>
                </div>
                <div>      
                    <input type="password" formControlName="password" placeholder="პაროლი"/>
                    <div *ngIf="formControl.get('password')?.errors?.['required'] && formControl.get('password')?.touched">
                        შეიყვანეთ პაროლი
                    </div>
                </div>
                <div class="recover-password" (click)="toggleRecoverPassword()">
                    პაროლის აღდგენა
                </div>
                <div>{{errorMessage}}</div>
            }@else{
                <div>
                    <input formControlName="email" placeholder="ელ.ფოსტა"/>
                </div>
            }
           
            
        </form>
        <div class="buttons-wrap">
            @if (recoverPasswordPage) {
                <button class="back-button" (click)="toggleRecoverPassword()">უკან</button>
            }
            <button  (click)="!recoverPasswordPage ? authenticate() : recoverPassword()">{{!recoverPasswordPage  ? 'შესვლა' : 'გაგზავნა'}}</button>    
        </div>
       
    </div>
    
</div>
