.wrapper{
    position:fixed;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.authorization{
    width: 600px;
    height: 450px;
    border-radius: var(--base-border-radius);
    padding: 70px 112px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.title{
    font-size: var(--text-h2);
    color: var(--light-blue);
    font-family: firago-bold;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-wrap{
    margin-bottom: 20px;
}

input{
    border-radius: var(--big-border-radius);
    padding: 17px 20px;
    width: 377px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid var(--lighter-dark-blue);
}

input::placeholder{
    color: rgb(5, 51, 84, 0.3);
}

.recover-password{
    font-size: var(--text-h6);
    width: 100%;
    text-align: end;
    margin-top: 5px;
    cursor: pointer;
}

button{
    border-radius: var(--big-border-radius);
    background-color: var(--dark-blue );
    color: white;
    font-size: var(--text-h5); 
    width: 180px;
    height: 40px;
    cursor: pointer;

}

.buttons-wrap{
    display: flex;
    gap: 30px;
}

